nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
    height: 60px;
    ul {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 0;
        align-items: center;
        li {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            justify-content: space-around;
            align-items: center;
            &:first-child {
                background-color: greenyellow;
            }
            &:last-child {}
            a {
                display: flex;
                height: 100%;
                align-items: center;
                width: 100%;
                text-decoration: none;
                color: azure;
                &:hover {
                    background-color: greenyellow;
                }
            }
        }
    }
}