<nav>
  <ul>
    <li class="cts"><a routerLink="/home">CTS</a></li>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/custodian">Custodian</a></li>
    <li><a routerLink="/interview">Interview</a></li>
    <li><a routerLink="/device">Device</a></li>
    <li><a routerLink="/collection">Collection</a></li>
    <li><a routerLink="/shipment">Shipment</a></li>
    <li><a routerLink="/production">Production</a></li>
    <li><a routerLink="/evidence">Evidence</a></li>
    <li><a routerLink="/ticketing">Ticketing</a></li>
    <li><a routerLink="/reports">Reports</a></li>
    <li><a routerLink="/global-search">Global Search</a></li>
    <li><a routerLink="/admin">Admin</a></li>
    <li><a routerLink="/help">Help</a></li>
  </ul>
</nav>
